.side-nav-second-level li.menuitem-active {
    position: relative;
}

.side-nav-second-level li.menuitem-active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ffffff;
}

.child-indicator {
    margin-left: auto;
    display: none;
}

.side-nav-second-level li.menuitem-active .child-indicator {
    display: inline-block;
    color: #ffffff;
}
